{% extends 'base.html' %}
{% block title %}Delete client{% endblock %}

{% block caption %}Delete client:{% endblock %}

{% block content %}

   <h2>Are you sure you want to delete?</h2><br/>

    <p style="text-decoration: underline;">
        {{ object.username }}<br/>
        <img src="/media/{{ object.avatar }}" width="100px" height="100px">
    </p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit" class="btn btn-primary">Yes</button>&nbsp;
        <a href="/clients/" class="btn btn-primary">No</a>
    </form><br/>

{% endblock %}