{% extends 'base.html' %}
{% block title %}List clients{% endblock %}

{% block caption %}List clients:{% endblock %}

{% block content %}

    <form action="" class="form-inline my-2 my-lg-0">
        <input type="text" name="search_first_name" id="id_search_first_name" class="form-control mr-sm-2" placeholder="Search first_name" />&nbsp;
        <input type="text" name="search_last_name" id="id_search_last_name" class="form-control mr-sm-2" placeholder="Search last_name" />
        <select name="sort_field" id="id_sort_field" class="custom-select">
            <option value="username">username</option>
            <option value="first_name">first_name</option>
            <option value="last_name">last_name</option>
            <option value="birth_date">birth_date</option>
        </select>&nbsp;&nbsp;
        <button type="submit" class="btn btn-outline-primary">Search</button>
    </form><br/>

    <div class="col-sm-8">
    {% for user in object_list %}
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title" style="margin-top: -16px;">username: {{ user.username }}</h4>
            <span class="card-text">first_name: {{ user.first_name }}</span>&nbsp;&nbsp;&nbsp;
            <span class="card-text">last_name: {{ user.last_name }}</span>&nbsp;&nbsp;&nbsp;
            <span class="card-text">birth_date: {{ user.birth_date }}</span>
            <a href="{% url 'detail_client' pk=user.id %}" class="btn btn-primary" style="float:right;margin-bottom:-20px;">Detail</a>
            <a href="{% url 'delete_client' pk=user.id %}" class="btn btn-danger" style="float:right;margin-bottom:-20px;">Delete</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>

{% endblock %}