{% extends 'base.html' %}
{% block title %}Voting{% endblock %}

{% block caption %}Voting:{% endblock %}

{% block content %}

    {% for user in object_list %}
            <div class="card border-dark mb-3" style="max-width:200px; text-align:center; height:240px; float:left; margin-right:30px;">
                <div class="card-header">
                    {{ user.username }}
                </div>
                <div class="card-body text-primary">
                <img src="/media/{{ user.avatar }}" width="100px" height="100px"><br/>
                rating: <b id="like_count_{{ user.id }}">{{ user.rating }}</b><br/>
                {% if user.rating < 10 %}
                    <form action="{% url 'like' pk=user.id %}" method="get" style="display:inline;">
                        <button type="submit" class="btn btn-primary btn-sm">+1</button>
                    </form>
                    <button type="submit" data-key="{{ user.id }}" datasrc="{% url 'like_ajax' pk=user.id %}" class="btn btn-primary btn-sm likes">like_ajax</button>
                {% endif %}
                </div>
            </div>
    {% endfor %}

{% endblock %}