{% extends 'base.html' %}
{% block title %}Voting{% endblock %}

{% block content %}

    <a href="/index/">back to main page</a><br/>

    {% for user in object_list %}
        {% if not user.is_superuser %}
            <div style="float: left; margin: 30px 30px; text-align: center;">
                <span>{{ user.username }}</span><br/>
                <img src="/media/{{ user.avatar }}" width="100px" height="100px"><br/>
                rating: {{ user.rating }}<br/>
                {% if request.user.is_authenticated and user.rating < 10 %}
                    <form action="{% url 'image_like' pk=user.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">+1</button>
                    </form>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}